  <!-- Kinect V2 -->
  <!-- Depth -->
  <gazebo reference="${namespace}/kinect_optical_link">
    <sensor name="kinect_ir" type="depth">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <camera>
        <horizontal_fov>${70.6*pi/180.0}</horizontal_fov>
        <image>
          <format>L8</format>
          <width>512</width>
          <height>424</height>
        </image>
        <clip>
          <near>0.5</near>
          <far>4.5</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.005</stddev>
        </noise>
      </camera>
      <plugin name="kinect_controller" filename="libgazebo_ros_openni_kinect.so">
        <baseline>0.1</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>30</updateRate>
        <cameraName>kinect_ir</cameraName>
        <imageTopicName>/kinect/ir/image_raw</imageTopicName>
        <cameraInfoTopicName>/kinect/ir/camera_info</cameraInfoTopicName>
        <depthImageTopicName>/kinect/depth/image_raw</depthImageTopicName>
        <depthImageCameraInfoTopicName>/kinect/depth/camera_info</depthImageCameraInfoTopicName>
        <pointCloudTopicName>/kinect/depth/points</pointCloudTopicName>
        <frameName>/world</frameName>
        <pointCloudCutoff>0.5</pointCloudCutoff>
        <pointCloudCutoffMax>4.5</pointCloudCutoffMax>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>

  <!-- RGB -->
  <gazebo reference="${namespace}/kinect_optical_link">
    <sensor name="kinect_rgb" type="camera">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <camera>
        <horizontal_fov>${84.1*pi/180.0}</horizontal_fov>
        <image>
          <format>B8G8R8</format>
          <width>1920</width><!--640-->
          <height>1080</height><!--480-->
        </image>
        <clip>
          <near>0.05</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="kinect_controller" filename="libgazebo_ros_camera.so">
        <baseline>0.1</baseline>
        <alwaysOn>true</alwaysOn>
        <updateRate>30</updateRate>
        <cameraName>kinect_rgb</cameraName>
        <imageTopicName>/kinect/rgb/image_raw</imageTopicName>
        <cameraInfoTopicName>/kinect/rgb/camera_info</cameraInfoTopicName>
        <frameName>/world</frameName>
        <distortionK1>0.00000001</distortionK1>
        <distortionK2>0.00000001</distortionK2>
        <distortionK3>0.00000001</distortionK3>
        <distortionT1>0.00000001</distortionT1>
        <distortionT2>0.00000001</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </plugin>
    </sensor>
  </gazebo>